@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

/* ====GLOBAL RESET===== */
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  box-shadow: 0 0 30rem rgba(0, 0, 0, 0.1);
}

/* ===GENERAL STYLES=== */

.display-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: auto 0;
  width: 100vw;
  height: 550px;
}

.primary-heading {
  font-size: 4.6rem;
  color: #222;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  width: 30rem;
}

.button {
  letter-spacing: 1px;
  padding: 1.5rem 8rem;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all ease 0.1s;
  cursor: pointer;
}

.primary-btn {
  background: #364fc7;
  color: #fff;
}

.primary-btn:hover {
  background: #2b3f9f;
  transform: scale(1.05);
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
}

.secondary-btn {
  border: 3px solid #364fc7;
  color: #364fc7;
}

.secondary-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
}

.tertiary-btn {
  color: white;
  border: 3px solid white;
  background-color: transparent;
  font-size: 1.8rem;
  margin-top: 30px;
  padding: 1rem 4rem;
}

.tertiary-btn:hover {
  transform: scale(1.05);
}

.game-display {
  max-width: 350px;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

/* ====HELP SECTION==== */

.help-screen {
  flex: 0 0 350px;
  transition: visibility ease 0.3s;
  padding: 3rem 1rem;
}

.help-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  gap: 3rem;
}

.help-bar button {
  background: transparent;
  color: #333;
  border: none;
  cursor: pointer;
}

.help-bar button ion-icon {
  font-size: 5.6rem;
}

.help-screen h2 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #333;
}

.help-screen p {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* ====MAIN SCREEN SECTION=== */

.main-screen {
  height: 100%;
  flex: 1 0 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: visibility ease 0.3s;
  align-items: center;
  padding: 3rem 0;
}

.buttons-container {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.help-btn {
  width: 100%;
}

.author-copyrights {
  margin-top: 4.8rem;
  text-align: center;
  font-size: 1.8rem;
  font-style: italic;
  letter-spacing: 1px;
}

/* ====GAME SCREEN SECTION==== */
.start-screen {
  height: 100%;
  flex: 1 0 100%;
  display: flex;
  transition: visibility ease 0.3s;
  padding: 3rem 0;
  flex-direction: column;
}

.status-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  padding-right: 3rem;
}

.back-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.back-btn:hover {
  transform: scale(1.05);
}
.icon {
  color: #333;
  font-size: 6.4rem;
  font-weight: 400;
}

.scores-container {
  text-align: right;
}
.score-text {
  font-size: 2.2rem;
  font-weight: 600;
  color: #333;
}

.match-display {
  border: 3px solid #333;
  border-radius: 8px;
  /* height: 371px; */
  flex: 1 1 auto;
  margin-bottom: 1.2rem;
}

.options-container {
  display: flex;
  justify-content: space-between;
}
.option-btn {
  flex: 0 1 10.5rem;
  padding: 1.8rem 0;
  font-size: 1.4rem;
}

/* =====LOADING==== */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  transition: all ease 1s;
}

.loading .spinner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 15px solid rgb(223, 223, 223);
  border-top: 15px solid #364fc7;
  animation: rotate 1s ease 10;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

/* ====SCROLL ANIMATIONS==== */
.scrollToMain {
  transform: translateX(-350px);
  transition: transform ease-in 0.3s;
}

.scrollToHelp {
  transform: translateX(0);
  transition: transform ease-in 0.3s;
}

.scrollToGame {
  transform: translateX(-700px);
  transition: transform ease-in 0.3s;
}

button {
  touch-action: manipulation;
}
/* ====RESULT SCREEN ==== */

.result-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all ease 0.5s;
}

.result-ball {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  height: 150px;
  background-color: var(--result-color);
  border-radius: 50%;
  animation: scale-up 1s forwards;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: scale-down 0.4s forwards;
}

.results-text {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.results-icon {
  width: 72px;
  height: 72px;
  color: white;
}

@keyframes scale-down {
  100% {
    transform: scale(0.05);
  }
}
@keyframes scale-up {
  100% {
    transform: scale(20);
  }
}

/* ====HIDDEN CLASS==== */

.hidden {
  display: none;
  visibility: none;
  transition: 1s;
}
